.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    fill: var(--primary-color-inverted);
}

.link {
    margin-left: 10px;
    opacity: 1;

    .collapsed & {
        opacity: 0;
        transition: 0.3s opacity;
        width: 0;
    }
}
