body.light {
    --bg-color: #e8e8ea;
    --bg-color-inverted: #090949;
    --primary-color: #041c65;
    --secondary-color: #0449e0;
    --primary-color-inverted: #04ff04;
    --secondary-color-inverted: #049604;
}
