body.orange {
    --bg-color: #faf4fb;
    --bg-color-inverted: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --primary-color-inverted: #dbd5dc;
    --secondary-color-inverted: #faf4fb;
}
