.profileCard {
    padding: 20px;
    border: 2px solid var(--bg-color-inverted);
}

.input:not(:last-child) {
    margin-bottom: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.editing {
    border: 2px solid var(--primary-color-inverted);
}
